<form action="[% request.uri_base %]/del" method="post">
삭제할 아이디
<hr />
<label for="id">ID : </label><input type="text" name="u_id" id="u_id" /><br />
<hr />

<input type="submit" value="Submit" />
<a href="[% request.uri_base %]/select"><input type="button" value="취소" /></a>
</form>
<hr />
[% u_id %][% string %]
